@import "tailwindcss";

:root {
  --gradient-start: #020213;
  --gradient-end: #091C38;
  --background-gradient: linear-gradient(to bottom, var(--gradient-start), var(--gradient-end));
}

@theme inline {
  --background-gradient: var(--background-gradient);
}

body {
    margin: 0;
    color: #e5e7eb;
    /* background: var(--background-gradient);
    background-repeat: no-repeat;
    background-size: cover; */
}
